<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996379269490-ekvebg1etul665k39kkvt8c83tvr4bnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996379269490-ekvebg1etul665k39kkvt8c83tvr4bnc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996379269490-jjtpuli5k73em5ik4uv61pivg6jotc26.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEMeeSwHgGUnzqMrWP_58nPRbm_xA8c3s</string>
	<key>GCM_SENDER_ID</key>
	<string>996379269490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatgptApp</string>
	<key>PROJECT_ID</key>
	<string>flutter--signin-3277d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter--signin-3277d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996379269490:ios:9df6a400018fef582e65eb</string>
</dict>
</plist>